<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Paw and Order</title>
</head>
<body class="commands">

    <nav>    <div class="title">
        <h1><i class="fa fa-paw"></i></i>Paw and Order<i class="fa fa-gavel"></i></h1>
    </div>
    <div class="links">
        <a href="/">Home</a>
        ~
        <a href="customers">Customers</a>
        ~
        <a href="dogs">Dogs</a>
        ~
        <a href="employees">Employees</a>
        ~
        <a href="commandsLearned">Commands Learned By Dog</a>
        ~
        <a href="commands">Commands</a>
        ~
        <a href="trainingSessions">TrainingSessions</a>
    </div>
    </nav>
    <h1>Paw and Order Commands</h1>

{# part of this code is copied from or based off a cited source.  Please see readme for full citation #}

    <table>
      {% if data %}
        <tr>
          <th>Command ID</th>
          <th>Command Name</th>

        </tr>
        <tr>
          {% for item in data %}
          <tr>
            <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

            <!-- Create a <td> element with the value of that key in it -->
            <td> {{item[key]}} </td>
                        {% endfor %}



          </tr>
                    {% endfor %}
            {% endif %}
        </tr>
      </table>
      <form class="form" id="insertCommand" action="/commands" method="post">
        <h2>Input New Command:</h2>
        <input type="text" id="commandName" name="commandName" required placeholder="Command Name">
        <button class="button" id=textButton id="Add Command" value="Add Command" name="Add Command">Submit</button>
      </form>
</body>
